*{
  border: 1px solid red;
}
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}
.submitBtn{
  display: none;
}
table{
  width: 60vw;
  border-spacing: 0px 2px;
}
td input{
  width: 150px;
}
tr{
  background-color: #545c6b;
}
tr:hover{
  background-color: #6e798e;
}
td{
  text-align: center;
}
td button{
  padding: 0px;
  margin: 3px;

}
td button:hover{
  background-color: #2a69de;
}
input{
  font-size: calc(10px + 1vmin);

}


